{% extends 'flatpages/default.html' %}
{% load static %}

{% block title %}
{{ flatpage.title }}
{% endblock title %}

{% block content %}
    <div class="text-center">
        <br><h1>{{ flatpage.title }}<img src="https://html5-editor.net/tinymce/plugins/emoticons/img/smiley-innocent.gif" alt="innocent" /></h1>
        <hr>
        <div style="font-weight: normal !important; font-size: 24px; margin-bottom: 10px;">Наши контакты:</div>
        <div style="font-weight: normal !important; font-size: 24px;">{{ flatpage.content }}</div>
    </div>
{% endblock content %}